<!DOCTYPE html>
<html lang="es">

<head>
  <% include ../world/header/links %>
    <style>
      .card {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        color: black !important;
        cursor: pointer;
      }

      .card:hover {
        background-color: #13683B;
        color: #fff !important;
      }


      .menu-web {}

      .menu-movil {
        display: none;
      }

      @media only screen and (max-width: 994px) {
        .menu-web {
          display: none;
        }

        .menu-movil {
          display: block;
        }
      }
    </style>
</head>

<body>

  <%- include('../world/header/header', {data: data}); %>

    <section class="menu-web">

      <div class="container">
        <div class="row">
          <div class="col-md-8" style="padding-right: 0px;">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active" style="height: 400px !important; width: 100% !important;">
                  <img class="d-block w-100" src="images/sliderinicio1.jpg" alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5 style="font-weight: bold; color: #ffffff;">Adcontur ACP</h5>
                    <h5 style="color: #ffffff;">Soluciones Contables</h5>
                  </div>
                </div>
                <div class="carousel-item" style="height: 400px !important;">
                  <img class="d-block w-100" src="images/carrucel2.jpg" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5 style="font-weight: bold; color: #ffffff;">Adcontur ACP</h5>
                    <h5 style="color: #ffffff;">Soluciones Tributarias</h5>
                  </div>
                </div>
                <div class="carousel-item" style="height: 400px !important;">
                  <img class="d-block w-100" src="images/carrucel3.jpg" alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5 style="font-weight: bold;  color: #ffffff;">Adcontur ACP</h5>
                    <h5 style="color: #ffffff;">Soluciones Administrativas</h5>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div>
          <div class="col-md-4" style="background-image: url('images/notice.jpg');background-size: cover;">
            <div style="padding: 20px;">

              <div
                style="background-color: rgba(0, 0, 0, 0.5); padding: 25px; border-radius: 0.45rem !important; border: 1px solid #13683b !important; color: #ffffff !important;">

                <div>
                  <b>TEMAS DE INTERÉS</b>
                </div>

                <% for(var i=0; i < temas.length; i++) { %>

                  <div>
                    <a href="/detalle?idTema=<%= temas[i].idTema %>" style="color: #fff;">*
                      <span>
                        <%= temas[i].titulo %>
                      </span></a>
                  </div>

                  <% } %>

              </div>
              <br>
              <div
                style="background-color: rgb(241, 241, 241); padding: 25px; border-radius: 0.45rem !important; border: 1px solid #13683b !important;">

                <div>
                  <b style="color: #13683b;">SERVICIOS</b>
                </div>

                <div>
                  <p>Recursos en línea</p>
                  <p>Utiliza nuestros recursos en línea, consulta de rucs en los <a
                      href="/lineaDetalles?idRecursoLinea=1"> Catastros del SRI.</a> Este servicio es gratuito.<br></p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="menu-movil">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="images/sliderinicio1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="images/carrucel2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="images/carrucel3.jpg" alt="Third slide">
          </div>
        </div>
      </div>
      <div class="col-md-4" style="background-image: url('images/notice.jpg');background-size: cover;">
        <div style="padding: 20px;">

          <div
            style="background-color: rgba(0, 0, 0, 0.5); padding: 25px; border-radius: 0.45rem !important; border: 1px solid #13683b !important; color: #ffffff !important;">

            <div>
              <b>TEMAS DE INTERÉS</b>
            </div>

            <% for(var i=0; i < temas.length; i++) { %>

              <div>
                <a href="/detalle?idTema=<%= temas[i].idTema %>" style="color: #fff;">*
                  <span>
                    <%= temas[i].titulo %>
                  </span></a>
              </div>

              <% } %>

          </div>
          <br>
          <div
            style="background-color: rgb(241, 241, 241); padding: 25px; border-radius: 0.45rem !important; border: 1px solid #13683b !important;">

            <div>
              <b style="color: #13683b;">SERVICIOS</b>
            </div>

            <div>
              <p>Recursos en línea</p>
              <p>Utiliza nuestros recursos en línea, consulta de rucs en los <a href="/lineaDetalles?idRecursoLinea=1">
                  Catastros del SRI.</a> Este servicio es gratuito.<br></p>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="ftco-intro ftco-no-pb img"
      style="background-image: url(images/contable.png); padding: 30px !important; margin: 0px;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-0">CONFIABILIDAD Y EXACTITUD EN NUESTROS SERVICIOS</h2>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-about ftco-no-pt ftco-no-pb ftco-counter" id="section-counter"
      style="background-color: #FDFDFD;">
      <div class="container consult-wrap">
        <a name="acerca"></a>
        <div class="row d-flex align-items-stretch">
          <div class="col-md-6 wrap-about align-items-stretch d-flex">
            <div class="img" style="background-image: url(images/image_6.jpg);"></div>
          </div>
          <div class="col-md-6 wrap-about ftco-animate py-md-5 pl-md-5">
            <div class="heading-section mb-4">
              <h2>ADCONTUR ACP</h2>
            </div>
            <p style="text-align: justify; border: 2px solid #13683b !important; padding: 20px; border-radius: 4px;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Adcontur Soluciones Contables, Tributarias y
              Administrativas.- Somos una empresa orgullosamente
              ecuatoriana pioneros en brindar soluciones Contables, Tributarias y Administrativas, contamos
              con más de 25 años de presencia en el mercado nacional; nuestra experiencia especializada y
              comprobada en el asesoramiento de importantes empresas del mercado capitalino, nos permite
              proporcionar a nuestros clientes alternativas de solución adecuadas y consistentes para
              enfrentar los retos competitivos que plantea la administración moderna. <br>
              Contamos con un equipo consolidado de profesionales, con el mas alto estándar y conocimiento en
              empresas e instituciones con diversas actividades económicas.
            </p>
            <div class="tabulation-2 mt-4">
              <ul class="nav nav-pills nav-fill d-md-flex d-block">
                <li class="nav-item">
                  <a class="nav-link active py-2" data-toggle="tab" href="#home1"><span
                      class="ion-ios-card mr-2"></span>
                    Misión</a>
                </li>
                <li class="nav-item px-lg-2">
                  <a class="nav-link py-2" data-toggle="tab" href="#home2"><span class="ion-ios-book mr-2"></span>
                    Visión</a>
                </li>
                <li class="nav-item px-lg-2">
                  <a class="nav-link py-2" data-toggle="tab" href="#home3"><span class="ion-ios-create mr-2"></span>
                    Enfoque</a>
                </li>
                <li class="nav-item px-lg-2">
                  <a class="nav-link py-2" data-toggle="tab" href="#home4"><span class="ion-ios-document mr-2"></span>
                    Ética</a>
                </li>
              </ul>
              <div class="tab-content bg-light rounded mt-2" style="border: 2px solid #13683b !important">
                <div class="tab-pane container p-0 active" id="home1">
                  <p style="text-align: justify;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ofrecer a nuestros clientes servicios
                    profesionales,
                    asegurando el cumplimiento de
                    normas y reglamentos preestablecidos en la legislación ecuatoriana en el campo
                    Contable, Tributario y Administrativo.<br><br>Enfocados siempre en la entrega de soluciones
                    viables, competitivas e innovadoras. Contamos con el mejor equipo de profesionales,
                    para
                    nosotros cada uno de nuestros clientes son importantes, por eso nuestra atención
                    personalizada y especializada.
                  </p>
                </div>
                <div class="tab-pane container p-0 fade" id="home2">
                  <p style="text-align: justify;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ser reconocidos en el mediano plazo por nuestros
                    clientes como un socio estratégico
                    para la toma de decisiones a través de: <br><br>

                    • Confiabilidad y exactitud en nuestros servicios<br>
                    • Actualización constante<br><br>

                    Aplicando estos principios, deseamos establecer relaciones duraderas, de respeto y
                    responsabilidad, con nuestros clientes y la sociedad en general.
                  </p>
                </div>
                <div class="tab-pane container p-0 fade" id="home3">
                  <p style="text-align: justify;">
                    Nuestro enfoque te permitirá:<br><br>

                    • Organizar tus cuentas.<br>
                    • Llevar procesos contables de calidad.<br>
                    • Administrar mejor su tiempo frente a tareas subyacentes.<br>
                    • Recortar gastos sin sacrificar la calidad.<br>
                    • Tener control de su dinero.<br>

                  </p>
                </div>
                <div class="tab-pane container p-0 fade" id="home4">
                  <p style="text-align: justify;">
                    Nuestra Ética Profesional: <br><br>

                    • Compromiso.<br>
                    • Lealtad.<br>
                    • Honestidad.<br>
                    • Calidez.<br>
                    • Respeto.<br>
                    • Responsabilidad.<br>

                  </p>
                </div>
              </div>
            </div>
            <br><br>      
            <div style="text-align: center;">
             <!-- Contador de visitas -->
                <a href="http://www.websmultimedia.com/contador-de-visitas-gratis">
                  <img style="border: 0px solid; display: inline; width: 40%;" alt="contador de visitas" src="http://www.websmultimedia.com/contador-de-visitas.php?id=288978"></a>
                <br>           
                <h3><a href='http://www.websmultimedia.com/contador-de-visitas-gratis'>Visitas Realizadas</a></h3>
                <br>
                <a href='http://boxindian.com/'></a>
            <!-- Fin Contador de visitas -->           
            </div>            


            <!--<div class="row mt-5">
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="icon"><span class="flaticon-doctor"></span></div>
                <div class="text">
                  <strong class="number" data-number="50">0</strong>
                  <span>Visitas</span>
                </div>
              </div>
            </div>-->
            <!--<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="icon"><span class="flaticon-doctor"></span></div>
                <div class="text">
                  <strong class="number" data-number="115">0</strong>
                  <span>Documentos</span>
                </div>
              </div>
            </div>-->
            <!--<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="icon"><span class="flaticon-doctor"></span></div>
                <div class="text">
                  <strong class="number" data-number="20">0</strong>
                  <span>Equipo</span>
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
      </div>
    </section>

    <a name="servicios_"></a>
    <section class="ftco-intro ftco-no-pb img"
      style="background-image: url(images/image_4.jpg); padding: 30px !important; margin: 0px;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-0" style="font-size: 30px;">SIEMPRE OBTIENES LA MEJOR ORIENTACIÓN DE NUESTROS SERVICIOS</h2>
          </div>
        </div>
      </div>
    </section>

    <style>
      .welcome_sec {
        padding-top: 50px;
        background: #FDFDFD;
      }

      .welcome_sec h2 {
        font-weight: 600;
        font-size: 34px;
        color: #000000;
        text-align: right;
      }

      .welcome_sec .welcome_heading p {

        font-style: italic;
        font-size: 1em;
        color: #898989;
        padding-left: 30px;
        padding-top: 16px;
        line-height: 26px;
      }

      .welcome_item {
        position: relative;
      }

      .welcome_details {}

      .welcome_details img {
        background: rgb(14, 71, 41);
        padding: 8px;
        position: absolute;
        z-index: 1;
        top: 14px;
      }

      .welcome_details .welcome_info {
        position: relative;
        width: 77%;
        border: 1px solid #e6e6e6;
        border-radius: 0.45rem !important;
        margin-left: 140px;
        padding-top: 7px;
        padding-bottom: 24px;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        text-align: justify;
      }

      .welcome_details h3 {

        font-weight: bold;
        font-size: 1.25em;
        color: #323232;
        padding-left: 66px;
      }

      .welcome_details h3:before {
        content: '';
        width: 45px;
        height: 3px;
        background: rgb(14, 71, 41);
        position: absolute;
        top: 50px;
      }

      .welcome_details p {

        color: #808080;
        padding-left: 66px;
        padding-right: 41px;
        padding-top: 13px;
      }

      .welcome_item_bottom {
        margin-top: 29px;
      }

      .welcome_details .welcome_info:hover {
        background: #13683b;
      }

      .welcome_details .welcome_info:hover h3 {
        color: #fff;
      }

      .welcome_details .welcome_info:hover p {
        color: #e4e8e8;
      }

      .welcome_new_ {
        padding: 20px !important;
        border: 1px solid #13683b !important;
        background-color: #fafafa !important;
      }

      .welcome_new_:hover {
        background-color: #13683b !important;
      }

      @media only screen and (max-width: 575px) {
        .fots_ {
          display: none;
          padding: 0px;
          position: static;
          z-index: 0;
          top: 0px;
        }

        .welcome_details .welcome_info {
          width: 100%;
          margin-left: 0px;
          padding-top: 0px;
          padding-bottom: 0px;
        }

        .welcome_details p {
          padding: 0px;
        }

        .welcome_details h3 {
          padding: 0px;
        }
      }
    </style>

    <section class="welcome_sec">
      <div class="container">
        <div class="row welcome welcome_details">

          <% for(var i=0; i < data.length; i++) { %>

            <div class="col-md-6" style="padding: 20px;">
              <div class="welcome_item"><a href="<%= data[i].path %>">
                  <img src="<%= url_imagen + data[i].imagen %>" width="200" class="fots_">
                  <div class="welcome_info welcome_new_">

                    <h3>
                      <%= data[i].titulo %>
                    </h3>
                    <p>
                      <%= data[i].descripcion_corta %>
                    </p>
                  </div>
                </a>
              </div>
            </div>

            <% } %>
        </div>
      </div>
    </section>

    <br>
    <section class="ftco-intro ftco-no-pb img"
      style="background-image: url(images/image_4.jpg); padding: 30px !important; margin: 0px;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-0" style="font-size: 30px;">PLANES DE NUESTROS SERVICIOS</h2>
          </div>
        </div>
      </div>
    </section>

    <style>
      #generic_price_table {
        background-color: #FFF;
      }

      /*PRICE COLOR CODE START*/
      #generic_price_table .generic_content {
        background-color: #fff;
      }

      #generic_price_table .generic_content .generic_head_price {
        background-color: #f6f6f6;
      }

      #generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg {
        border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
      }

      #generic_price_table .generic_content .generic_head_price .generic_head_content .head span {
        color: #525252;
      }

      #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign {
        color: #414141;
      }

      #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency {
        color: #414141;
      }

      #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent {
        color: #414141;
      }

      #generic_price_table .generic_content .generic_head_price .generic_price_tag .month {
        color: #414141;
      }

      #generic_price_table .generic_content .generic_feature_list ul li {
        color: #a7a7a7;
      }

      #generic_price_table .generic_content .generic_feature_list ul li span {
        color: #414141;
      }

      #generic_price_table .generic_content .generic_feature_list ul li:hover {
        background-color: #E4E4E4;
        border-left: 5px solid #13683b;
      }

      #generic_price_table .generic_content .generic_price_btn a {
        border: 1px solid #13683b;
        color: #13683b;
      }

      #generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
      #generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg {
        border-color: #13683b rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #13683b;
        color: #fff;
      }

      #generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
      #generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span {
        color: #fff;
      }

      #generic_price_table .generic_content:hover .generic_price_btn a,
      #generic_price_table .generic_content.active .generic_price_btn a {
        background-color: #13683b;
        color: #fff;
      }

      #generic_price_table {
        margin: 50px 0 50px 0;
      }

      .row .table {
        padding: 28px 0;
      }

      /*PRICE BODY CODE START*/

      #generic_price_table .generic_content {
        overflow: hidden;
        position: relative;
        text-align: center;
      }

      #generic_price_table .generic_content .generic_head_price {
        margin: 0 0 20px 0;
      }

      #generic_price_table .generic_content .generic_head_price .generic_head_content {
        margin: 0 0 50px 0;
      }

      #generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg {
        border-style: solid;
        border-width: 90px 1411px 23px 399px;
        position: absolute;
      }

      #generic_price_table .generic_content .generic_head_price .generic_head_content .head {
        padding-top: 40px;
        position: relative;
        z-index: 1;
      }

      #generic_price_table .generic_content .generic_head_price .generic_head_content .head span {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 2px;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }

      #generic_price_table .generic_content .generic_head_price .generic_price_tag {
        padding: 0 0 20px;
      }

      #generic_price_table .generic_content .generic_head_price .generic_price_tag .price {
        display: block;
      }

      #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign {
        display: inline-block;
        font-size: 28px;
        font-weight: 400;
        vertical-align: middle;
      }

      #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency {
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 60px;
        padding: 0;
        vertical-align: middle;
      }

      #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent {
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        vertical-align: bottom;
      }

      #generic_price_table .generic_content .generic_head_price .generic_price_tag .month {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
        vertical-align: bottom;
      }

      #generic_price_table .generic_content .generic_feature_list ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      #generic_price_table .generic_content .generic_feature_list ul li {
        font-size: 18px;
        padding: 15px 0;
        transition: all 0.3s ease-in-out 0s;
      }

      #generic_price_table .generic_content .generic_feature_list ul li:hover {
        transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;

      }

      #generic_price_table .generic_content .generic_feature_list ul li .fa {
        padding: 0 10px;
      }

      #generic_price_table .generic_content .generic_price_btn {
        margin: 20px 0 32px;
      }

      #generic_price_table .generic_content .generic_price_btn a {
        border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        -webkit-border-radius: 50px;
        display: inline-block;
        font-size: 18px;
        outline: medium none;
        padding: 12px 30px;
        text-decoration: none;
        text-transform: uppercase;
      }

      #generic_price_table .generic_content,
      #generic_price_table .generic_content:hover,
      #generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
      #generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
      #generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
      #generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
      #generic_price_table .generic_content .price,
      #generic_price_table .generic_content:hover .price,
      #generic_price_table .generic_content .generic_price_btn a,
      #generic_price_table .generic_content:hover .generic_price_btn a {
        transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;
      }

      @media (max-width: 320px) {}

      @media (max-width: 767px) {
        #generic_price_table .generic_content {
          margin-bottom: 75px;
        }
      }

      @media (min-width: 768px) and (max-width: 991px) {
        #generic_price_table .col-md-3 {
          float: left;
          width: 50%;
        }

        #generic_price_table .col-md-4 {
          float: left;
          width: 50%;
        }

        #generic_price_table .generic_content {
          margin-bottom: 75px;
        }
      }

      @media (min-width: 992px) and (max-width: 1199px) {}

      @media (min-width: 1200px) {}

      #generic_price_table_home {}

      .text-center h1,
      .text-center h1 a {
        color: #7885CB;
        font-size: 30px;
        font-weight: 300;
        text-decoration: none;
      }

      .demo-pic {
        margin: 0 auto;
      }

      .demo-pic:hover {
        opacity: 0.7;
      }

      #generic_price_table_home ul {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: table;
      }

      #generic_price_table_home li {
        float: left;
      }

      #generic_price_table_home li+li {
        margin-left: 10px;
        padding-bottom: 10px;
      }

      #generic_price_table_home li a {
        display: block;
        width: 50px;
        height: 50px;
        font-size: 0px;
      }

      #generic_price_table_home .blue {
        background: #3498DB;
        transition: all 0.3s ease-in-out 0s;
      }

      #generic_price_table_home .emerald {
        background: #13683b;
        transition: all 0.3s ease-in-out 0s;
      }

      #generic_price_table_home .grey {
        background: #7F8C8D;
        transition: all 0.3s ease-in-out 0s;
      }

      #generic_price_table_home .midnight {
        background: #34495E;
        transition: all 0.3s ease-in-out 0s;
      }

      #generic_price_table_home .orange {
        background: #E67E22;
        transition: all 0.3s ease-in-out 0s;
      }

      #generic_price_table_home .purple {
        background: #9B59B6;
        transition: all 0.3s ease-in-out 0s;
      }

      #generic_price_table_home .red {
        background: #E74C3C;
        transition: all 0.3s ease-in-out 0s;
      }

      #generic_price_table_home .turquoise {
        background: #1ABC9C;
        transition: all 0.3s ease-in-out 0s;
      }

      #generic_price_table_home .blue:hover,
      #generic_price_table_home .emerald:hover,
      #generic_price_table_home .grey:hover,
      #generic_price_table_home .midnight:hover,
      #generic_price_table_home .orange:hover,
      #generic_price_table_home .purple:hover,
      #generic_price_table_home .red:hover,
      #generic_price_table_home .turquoise:hover {
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        transition: all 0.3s ease-in-out 0s;
      }

      #generic_price_table_home .divider {
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 20px;
      }

      #generic_price_table_home .divider span {
        width: 100%;
        display: table;
        height: 2px;
        background: #ddd;
        margin: 50px auto;
        line-height: 2px;
      }

      #generic_price_table_home .itemname {
        text-align: center;
        font-size: 50px;
        padding: 50px 0 20px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 40px;
        text-decoration: none;
        font-weight: 300;
      }

      #generic_price_table_home .itemnametext {
        text-align: center;
        font-size: 20px;
        padding-top: 5px;
        text-transform: uppercase;
        display: inline-block;
      }

      #generic_price_table_home .footer {
        padding: 40px 0;
      }

      .price-heading {
        text-align: center;
      }

      .price-heading h1 {
        color: #666;
        margin: 0;
        padding: 0 0 50px 0;
      }

      .demo-button {
        background-color: #333333;
        color: #ffffff;
        display: table;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 50px;
        outline-color: -moz-use-text-color;
        outline-style: none;
        outline-width: medium;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
      }

      .bottom_btn {
        background-color: #333333;
        color: #ffffff;
        display: table;
        font-size: 28px;
        margin: 60px auto 20px;
        padding: 10px 25px;
        text-align: center;
        text-transform: uppercase;
      }

      .demo-button:hover {
        background-color: #666;
        color: #FFF;
        text-decoration: none;

      }

      .bottom_btn:hover {
        background-color: #666;
        color: #FFF;
        text-decoration: none;
      }
    </style>

    <div id="generic_price_table">
      <section>
        <div class="container">

          <div class="row">
            <div class="col-md-4">

              <div class="generic_content clearfix"
                style="background-color: #fcfcfc; border: 1px solid #fcfcfc !important; border-radius: 0.45rem !important; border-bottom: 1px solid #d6d6d6 !important; border-left: 1px solid #d6d6d6 !important; border-right: 1px solid #d6d6d6 !important;">
                <div class="generic_head_price clearfix">
                  <div class="generic_head_content clearfix">
                    <div class="head_bg"></div>
                    <div class="head">
                      <span style="font-size: 17px !important;">PN NO OBLIGADAS</span>
                    </div>
                  </div>
                  <div class="generic_price_tag clearfix">
                    <span class="price">
                      <span class="sign">$</span>
                      <span class="currency">9</span>
                      <span class="cent">.99</span>
                      <span class="month">/MEN</span>
                    </span>
                  </div>
                  <div class="generic_price_btn clearfix" id="btnPlan1" style="cursor: pointer;">
                    <a class="">Cotizar Plan</a>
                  </div>
                </div>
                <div class="generic_feature_list">
                  <ul>
                    <li>Declaración Iva Mensual </li>
                    <li>Declaración Imp. Renta </li>
                    <li>Asesoría Contable </li>
                    <li>Clasificación de Gastos Personales</li>
                    <li><span></span></li>
                    <li><span></span></li>
                    <li><span>24/7</span> Soporte</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-4">

              <!--PRICE CONTENT START-->
              <div class="generic_content active clearfix"
                style="background-color: #fcfcfc; border: 1px solid #fcfcfc !important; border-radius: 0.45rem !important; border-bottom: 1px solid #d6d6d6 !important; border-left: 1px solid #d6d6d6 !important; border-right: 1px solid #d6d6d6 !important;">

                <!--HEAD PRICE DETAIL START-->
                <div class="generic_head_price clearfix">

                  <!--HEAD CONTENT START-->
                  <div class="generic_head_content clearfix">

                    <!--HEAD START-->
                    <div class="head_bg"></div>
                    <div class="head">
                      <span style="font-size: 17px !important;">Profesionales y PN Obligadas</span>
                    </div>
                    <!--//HEAD END-->

                  </div>
                  <!--//HEAD CONTENT END-->

                  <!--PRICE START-->
                  <div class="generic_price_tag clearfix">
                    <span class="price">
                      <span class="sign">$</span>
                      <span class="currency">99</span>
                      <span class="cent">.99</span>
                      <span class="month">/MEN</span>
                    </span>
                  </div>
                  <!--//PRICE END-->

                  <!--BUTTON START-->
                  <div class="generic_price_btn clearfix" id="btnPlan2" style="cursor: pointer;">
                    <a class="">Cotizar Plan</a>
                  </div>
                  <!--//BUTTON END-->

                </div>
                <!--//HEAD PRICE DETAIL END-->

                <!--FEATURE LIST START-->
                <div class="generic_feature_list">
                  <ul>
                    <li>Declaración Iva Mensual </li>
                    <li>Declaración Imp. Renta </li>
                    <li>Asesoría Contable </li>
                    <li>Estados Financieros</li>
                    <li><span></span></li>
                    <li><span></span></li>
                    <li><span>24/7</span> Soporte</li>
                  </ul>
                </div>
                <!--//FEATURE LIST END-->

              </div>
              <!--//PRICE CONTENT END-->

            </div>

            <div class="col-md-4">

              <!--PRICE CONTENT START-->
              <div class="generic_content clearfix"
                style="background-color: #fcfcfc; border: 1px solid #fcfcfc !important; border-radius: 0.45rem !important; border-bottom: 1px solid #d6d6d6 !important; border-left: 1px solid #d6d6d6 !important; border-right: 1px solid #d6d6d6 !important;">

                <!--HEAD PRICE DETAIL START-->
                <div class="generic_head_price clearfix">

                  <!--HEAD CONTENT START-->
                  <div class="generic_head_content clearfix">

                    <!--HEAD START-->
                    <div class="head_bg"></div>
                    <div class="head">
                      <span style="font-size: 17px !important;">Pequeña y Mediana Empresa</span>
                    </div>
                    <!--//HEAD END-->


                  </div>
                  <!--//HEAD CONTENT END-->

                  <!--PRICE START-->
                  <div class="generic_price_tag clearfix">
                    <span class="price">
                      <span class="sign">$</span>
                      <span class="currency">149</span>
                      <span class="cent">.99</span>
                      <span class="month">/MEN</span>
                    </span>
                  </div>
                  <!--//PRICE END-->

                  <!--BUTTON START-->
                  <div class="generic_price_btn clearfix" id="btnPlan3" style="cursor: pointer;">
                    <a class="">Cotizar Plan</a>
                  </div>
                  <!--//BUTTON END-->

                </div>
                <!--//HEAD PRICE DETAIL END-->

                <!--FEATURE LIST START-->
                <div class="generic_feature_list">
                  <ul>
                    <li>Declaración Iva Mensual </li>
                    <li>Declaración Imp. Renta </li>
                    <li>Asesoría Contable </li>
                    <li>Estados Financieros</li>
                    <li><span></span></li>
                    <li><span></span></li>
                    <li><span>24/7</span> Soporte</li>
                  </ul>
                </div>
                <!--//FEATURE LIST END-->

              </div>
              <!--//PRICE CONTENT END-->

            </div>
          </div>

        </div>
      </section>
    </div>

    <section class="ftco-intro ftco-no-pb img"
      style="background-image: url(images/image_4.jpg); padding: 30px !important; margin: 0px;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-0" style="font-size: 30px;">CONTÁCTANOS</h2>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section testimony-section" style="background-color: #FDFDFD;">
      <div class="container-fluid px-md-5">
        <a name="contacto"></a>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">

            <div class="container">
              <div class="row d-flex mb-5 contact-info justify-content-center" style="color: black;">
                <div class="col-md-10">
                  <div class="row mb-5">
                    <div class="col-md-4 text-center d-flex">
                      <div class="border w-100 p-4">
                        <div class="icon">
                          <span class="icon-map-o" style="font-size: 30px; color: #13683B;"></span>
                        </div>
                        <p><span style="font-size: 18px; color: black;"><b>Dirección:</b></span><br><a
                            href="#direccion">Jorge
                            Washington
                            E4-59 y Amazonas Edif.
                            Rocafuerte, Of. 5, sector C.C.Espiral</a>
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 text-center d-flex">
                      <div class="border w-100 p-4">
                        <div class="icon">
                          <span class="icon-tablet" style="font-size: 30px; color: #13683B"></span>
                        </div>
                        <p><span style="font-size: 18px;"><b>
                              Teléfono:</b></span><br><a href="tel:+022500610">022500610, </a><a
                            href="tel:+0997607812">0997607812</a></p>
                      </div>
                    </div>
                    <div class="col-md-4 text-center d-flex">
                      <div class="border w-100 p-4">
                        <div class="icon">
                          <span class="icon-envelope-o" style="font-size: 30px; color: #13683B"></span>
                        </div>
                        <p><span style="font-size: 18px;"><b>Correo Electrónico:</b></span><br>
                          <a href="mailto:info@adcontur.com">info@adcontur.com</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row block-9 justify-content-center mb-5">
                <div class="col-md-10 mb-md-5" id="direccion">
                  <br>
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.792600168622!2d-78.49863834909598!3d-0.2057302998491574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc4d315f6ab%3A0x910d049c327ce1aa!2sAdcontur%20Soluciones%20Integrales!5e0!3m2!1ses-419!2sec!4v1585854670396!5m2!1ses-419!2sec"
                    style="width: 100%; height: 600px;" frameborder="0" style="border:0;" allowfullscreen=""
                    aria-hidden="false" tabindex="0"></iframe>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <div class="modal fade" id="modalPlanes" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body" style="padding: 45px !important;">

            <h4>Ayúdanos con estos datos</h4>
            <p>Estas a un paso de transformar tus finanzas.</p>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nombre Completo" id="nombre">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Correo Electrónico" id="email">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Teléfono" id="telefono">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Número de Facturas Aproximadas al Mes"
                    id="ventas">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Número de Compras Aproximadas al Mes"
                    id="compras">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Número de Empleados Afiliados" id="afiliados">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary py-3 px-5" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary py-3 px-5" id="btnSolicitar">Solicitar</button>
          </div>
        </div>
      </div>
    </div>

    <div id="loader" class="">&#8230;</div>

    <% include ../world/footer/footer %>

      <% include ../world/footer/links %>


        <% include ../world/footer/float %>

          <script>

            var plan = 0;
            $("#btnPlan1").click(function () {
              plan = { "nombre": "PN NO OBLIGADAS", "precio": "09.99" };
              $("#plan").html(plan.nombre);
              $("#precio").html(plan.precio);
              $('#modalPlanes').modal('toggle');
            });

            $("#btnPlan2").click(function () {
              plan = { "nombre": "PROFESIONALES Y PN OBLIGADAS", "precio": "99.99" };
              $("#plan").html(plan.nombre);
              $("#precio").html(plan.precio);
              $('#modalPlanes').modal('toggle');
            });

            $("#btnPlan3").click(function () {
              plan = { "nombre": "PEQUEÑA Y MEDIANA EMPRESA", "precio": "149.99" };
              $("#plan").html(plan.nombre);
              $("#precio").html(plan.precio);
              $('#modalPlanes').modal('toggle');
              //subirss
            });


            $("#btnSolicitar").click(function () {
              enviarEmail(plan.nombre, plan.precio);
            });

            function enviarEmail(plan, precio) {

              var data = {
                tipo: 1,
                asunto: 'SOLICITUD COMPRA PLAN DE SERVICIOS | ' + plan,
                nombre: $("#nombre").val(),
                plan: plan,
                precio: precio,
                email: $("#email").val(),
                telefono: $("#telefono").val(),
                ventas: $("#ventas").val(),
                compras: $("#compras").val(),
                afiliados: $("#afiliados").val()
              }

              $("#loader").addClass("loading");

              $.ajax({
                url: '/enviarEmail',
                type: 'POST',
                data: data,
                success: function (res) {

                  $("#loader").removeClass("loading").addClass("noloading");
                  $('#modalPlanes').modal('toggle');

                  Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: 'Se envió la solicitud de compra, en un momento un agente se contactará con usted.'
                  });

                }, error: function (xhr, status) {
                  console.log(xhr);
                  console.log(status);
                  $("#loader").removeClass("loading").addClass("noloading");
                  $('#modalPlanes').modal('toggle');

                  Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ocurrio un problema, intente nuevamente mas tarde.'
                  });

                }
              });
            }

          </script>

</body>

</html>